* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* background color for entire webpage */
body {
    background-color: #d9dcd6;
}

/* Header will be dark blue with white text */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* font for text on left side of header is 48px */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* middle three letters of header will be cream color */
header h1 .seo {
    color: #d9dcd6;
}

/* Font size for text on right of header will be smaller than left, with different font */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* no bullet points or symbols for list points */
header nav ul {
    list-style-type: none;
}

/* list will be inline to the right */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Text in header will be white */
a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
    margin-bottom: 32px;
}

/* image covers entire width of page  */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* images for first and third section will be to the left of the text */
.float-left {
    float: left;
    margin-right: 25px;
}

/* image for second section will be to the right of the text */
.float-right {
    float: right;
    margin-left: 25px;
}

/* main sections only takes up 75% of webpage width to allow aside to fill in the remaining area */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
} 

/* takes up remaining space to the right of the main elements */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    color: #ffffff;
}

/* text headers are centered in the block  */
.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* images align in center along with header and image */
.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
    text-align: center;
}

/* color of box sections is blue while text is white */
section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}


/* all images in section are 200px */
section img {
    max-height: 200px;
}

section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}


.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
